p{
    color: red;
}
#p_d2{
    color:blue;
    background-color: aqua;
}
body{
    background-image: url('../image/2ece6ad9f83e56c4ceab8d4b675add8d.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#ASD h3{
    color:brown;
    background-color: aquamarine;
}
